<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /ddd-latin/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule . /ddd-latin/index.html [L]
</IfModule>